@using System.Security.Claims
@using Microsoft.AspNetCore.Http
<!-- header -->
<header class="fixed-top header">
    <!-- top header -->
    <div class="top-header py-2 bg-white">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-4 text-center text-lg-left">
                    <a class="text-color mr-3" href="callto:+443003030266"><strong>CALL</strong> +44 300 303 0266</a>
                    <ul class="list-inline d-inline">
                        <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-facebook"></i></a></li>
                        <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                        <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-linkedin"></i></a></li>
                        <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-8 text-center text-lg-right">
                    <ul class="list-inline">
                        @if (User.Claims.Any())
                        {
                            <li class="list-inline-item">
                                <b>Welcome @User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier).Value</b>
                            </li>
                        }
                        <li class="list-inline-item">
                            @Html.ActionLink("Search", "Search", "Home", new { }, new { @class = "text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" })
                        </li>
                        <li class="list-inline-item">
                            @Html.ActionLink("Login", "Login", "Account", new { }, new { @class = "text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" })
                        </li>
                        <li class="list-inline-item">@Html.ActionLink("Student Register", "StudentRegister", "Account", new { }, new { @class = "text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" })</li>
                        <li class="list-inline-item">@Html.ActionLink("Teacher Register", "TeacherRegister", "Account", new { }, new { @class = "text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" })</li>

                        @if (User.Claims.Any())
                        {
                            <li class="list-inline-item">
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div>
                                        <a href="javascript:document.getElementById('logoutForm').submit()">LogOut</a>
                                    </div>
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- navbar -->
    <div class="navigation w-100">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <a class="navbar-brand" href="~/Home/Index"><img src="images/logo.png" alt="logo"></a>
                <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ml-auto text-center">
                        <li class="nav-item active">
                            @Html.ActionLink("HOME", "Index", "Home", new { }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item @@about">
                            @Html.ActionLink("ABOUT", "About", "Home", new { }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item @@courses">
                            @Html.ActionLink("COURSES", "Index", "Lesson", new { }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item @@teachers">
                            @Html.ActionLink("TEACHERS", "GetTeachers", "Account", new { }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item @@events">
                            @Html.ActionLink("EVENTS", "Index", "Home", new { }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item @@contact">
                            @Html.ActionLink("CONTACT", "Contact", "Home", new { }, new { @class = "nav-link" })
                        </li>
                        @if (User.Claims.Any())
                        {
                            <li class="nav-item dropdown view">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    MENU
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @Html.ActionLink("Personel Information", "GetByUser", "Account", new { }, new { @class = "dropdown-item" })

                                    @Html.ActionLink("My Appointments", "GetAppointments", "Schedule", new { }, new { @class = "dropdown-item" })

                                    @if (@Convert.ToInt32(User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role).Value) == 3)
                                    {
                                        @Html.ActionLink("Add Lesson", "Create", "Lesson", new { }, new { @class = "dropdown-item" })

                                        @Html.ActionLink("My Lessons", "GetTutorLessons", "Lesson", new { }, new { @class = "dropdown-item" })
                                    }
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- /header -->
<!-- Modal -->