@model IEnumerable<PrivateTutoringApplication.Shared.DTO.TutorScheduleDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aktif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Silindi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EkleyenId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EklenmeZamani)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aktif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Silindi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EkleyenId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EklenmeZamani)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
