@model IEnumerable<PrivateTutoringApplication.Shared.DTO.TutorLessonDTO>

@{
    ViewData["Title"] = "SearchKey";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">Search Result > </a></li>
                    <li class="list-inline-item text-white h3 font-secondary @@nasted">Enter a keyword</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="list-unstyled">
                    <!-- notice item -->
                    @foreach (var item in Model)
                    {
                        <li class="d-md-table mb-4 w-100 border-bottom hover-shadow">
                            <div class="d-md-table-cell px-4 vertical-align-middle mb-4 mb-md-0">
                                @Html.ActionLink(@item.Lesson.Name, "GetLesson2", "Lesson", new { guid = item.Lesson.Guid }, new { @class = "h4 mb-3 d-block" })
                                @Html.ActionLink(@item.Kullanici.Ad + @item.Kullanici.Soyad, "GetTeacher", "Account", new { guid = item.Kullanici.Guid }, new { @class = "h4 mb-3 d-block" })
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>