@model IEnumerable<PrivateTutoringApplication.Shared.DTO.TutorLessonDTO>

@{
    ViewData["Title"] = "GetTutorLessons";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<!-- page title -->
<section class="page-title-section overlay" data-background="~/educenter/images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="courses.html">My Courses</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

@foreach (var item in Model)
{
    <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
            <img class="card-img-top rounded-0" src="\@item.Lesson.Resim" alt="course thumb">
            <div class="card-body">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>@item.EklenmeZamani</li>
                    <li class="list-inline-item"><a class="text-color" href="#">@item.Lesson.Category</a></li>
                </ul>
                @Html.ActionLink("Apply Now", "GetLesson", "Lesson", new { guid = item.Guid }, new { @class = "h4 card-title" })
                <p class="card-text mb-4">
                    @item.Lesson.Definition
                </p>
                @Html.ActionLink("Apply Now", "GetLesson", "Lesson", new { guid = item.Guid }, new { @class = "btn btn-primary btn-sm" })
            </div>
        </div>
    </div>
}
