@model PrivateTutoringApplication.Shared.CriteriaObject.GirisCO

@{
    ViewBag.Title = "Log in";
}
@using (Html.BeginForm("Login", "Account", new { }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a href="../../index2.html"><b>KIYAS</b>LA</a>
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Hazır Mısın?</p>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Eposta Adresiniz" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.Sifre, new { @class = "form-control", @placeholder = "Şifreniz" })
                    @Html.ValidationMessageFor(m => m.Sifre, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <span asp-validation-for="Sifre" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            @*<label>
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </label>*@
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
                    </div>
                </div>
                <div class="social-auth-links text-center">
                    <p>- VEYA -</p>
                    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                        <i class="fa fa-facebook"></i> Facebook ile Giriş Yapmak İster misin?
                    </a>
                </div>
                <a href="~/Account/ForgotPassword">Şifremi Unuttum</a><br>
                <a href="~/Account/Register" class="text-center">Hala Kayıt Olmadın mı?</a>
            </div>
        </div>
    </body>
}