@model PrivateTutoringApplication.Shared.DTO.KullaniciDTO

@{
    ViewData["Title"] = "TeacherRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("TeacherRegister", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <body class="hold-transition register-page">
        <div class="register-box">
            <div class="register-logo">
                <a href="~/Account/Register"><b>KIYAS</b>LA</a>
            </div>
            <div class="register-box-body">
                <p class="login-box-msg">Üye Olmak İçin Daha Ne Bekliyorsun</p>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.Ad, new { @placeholder = "Adınız", @class = "form-control" })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    <span asp-validation-for="Ad" class="text-danger"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.Soyad, new { @placeholder = "Soyadınız", @class = "form-control" })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    <span asp-validation-for="Soyad" class="text-danger"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.KullaniciAdi, new { @placeholder = " Kullanıcı Adınız", @class = "form-control" })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "E-posta Adresiniz", @class = "form-control" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.Sifre, new { @placeholder = "Şifreniz", @class = "form-control" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <span asp-validation-for="Sifre" class="text-danger"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.Sifre, new { @placeholder = "Tekrar Şifreniz", @class = "form-control" })
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"><a href="#"><b>Koşulları</b></a> kabul ediyorum
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                    </div>
                </div>
                <div class="social-auth-links text-center">
                    <p>- VEYA -</p>
                    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                        <i class="fa fa-facebook"></i> Facebook ile Kaydolmak İster misin?
                    </a>
                </div>
                Hesabın var mı?   <a href="~/Account/Login" class="text-center"><b>Giriş Yap</b></a>
            </div>
        </div>
    </body>
}

<!--
<div class="row">
    <div class="col-md-4">
        <form asp-action="TeacherRegister">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyad" class="control-label"></label>
                <input asp-for="Soyad" class="form-control" />
                <span asp-validation-for="Soyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciAdi" class="control-label"></label>
                <input asp-for="KullaniciAdi" class="form-control" />
                <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelephoneNumber" class="control-label"></label>
                <input asp-for="TelephoneNumber" class="form-control" />
                <span asp-validation-for="TelephoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sifre" class="control-label"></label>
                <input asp-for="Sifre" class="form-control" />
                <span asp-validation-for="Sifre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resim" class="control-label"></label>
                <input asp-for="Resim" class="form-control" />
                <span asp-validation-for="Resim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DogumYeri" class="control-label"></label>
                <input asp-for="DogumYeri" class="form-control" />
                <span asp-validation-for="DogumYeri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DogumTarihi" class="control-label"></label>
                <input asp-for="DogumTarihi" class="form-control" />
                <span asp-validation-for="DogumTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label"></label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Biyografi" class="control-label"></label>
                <input asp-for="Biyografi" class="form-control" />
                <span asp-validation-for="Biyografi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CVPath" class="control-label"></label>
                <input asp-for="CVPath" class="form-control" />
                <span asp-validation-for="CVPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="School" class="control-label"></label>
                <input asp-for="School" class="form-control" />
                <span asp-validation-for="School" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpperSchool" class="control-label"></label>
                <input asp-for="UpperSchool" class="form-control" />
                <span asp-validation-for="UpperSchool" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpperDepartment" class="control-label"></label>
                <input asp-for="UpperDepartment" class="form-control" />
                <span asp-validation-for="UpperDepartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job" class="control-label"></label>
                <input asp-for="Job" class="form-control" />
                <span asp-validation-for="Job" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GraduationStatus" class="control-label"></label>
                <input asp-for="GraduationStatus" class="form-control" />
                <span asp-validation-for="GraduationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

-->
